@media (max-width: 1050px) {
    body {
        font-size: 150px;
    }
}
@media (max-width: 780px) {
    body {
        font-size: 100px;
    }
}
@media (max-width: 520px) {
    body {
        font-size: 50px;
    }
}
@media (max-width: 520px) {
    body {
        font-size: 50px;
    }
}
@media (max-width: 280px) {
    body {
        font-size: 40px;
    }
}